__pycache__
*.json
*.jl
log/*
logs/*
.DS_Store
images/*
*.csv
output/
.pytest_cache
farfetch_html_fixtures/
/.venv
logs/
.env
*.ipynb 
*.html
*.txt

# Local Terraform state
*.tfstate
*.tfstate.backup

# Terraform working directory
.terraform/

# Terraform crash logs
crash.log

# Lambda build artifacts (if any)
*.zip

*.crt
